@font-face {
    font-family: joystick;
    src: url(./assets/fonts/joystix\ monospace.ttf) format('truetype');
}
@font-face {
    font-family: game_over;
    src: url(./assets/fonts/game_over.ttf) format('truetype');
}

#parte1{
    margin: 0;
}
#titulojogo{
    font-family: joystick;
    font-size: 60px;
    color: red;
    text-shadow: 
         -1px -1px 0px black, 
         -1px 1px 0px black,      
          1px -1px 0px black,    
          1px 0px 0px black;
}

#listapersonagens{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

#btnbatalha{
    border-radius: 25%;
    background-color: #32545B;
}

#escolhap1, #escolhap2{
    height: 200px;
    width: auto;
}

.poke{
    background-color: black;
    border-radius: 50%;
    padding: 0;
}

.personagens{
    display: flex;
    flex-direction: column;
}

#confronto{
    height: 330px;
    width: 800px;
    padding-left: 15em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 2em;
}

#players{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}


h1{
    text-align: center;
}

#campobatalha{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img{
    height: 120px;
    width: 80px;
}

body {
    background-color: rgba(250, 235, 31, 0.856);
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#div-btn{
    display: flex;
    justify-content: center;
}
#caracter-selection{
    display:flex;
    height: fit-content;
    width: fit-content;
}
.pokebola{
    height: 8em;
    width: 12em;
    padding: 0 1em;
}
#player1, #player2, #battle-area{
    border: black 2px solid;
}
#battle-area{
    background-image: url(./assets/images/Pokmon-Lets-Go-Pikachu-Eevee-Pre-Release-Review-HYPEBEAST.png);
    background-size: contain;
    height: 30em;
    width: 80em;
}
.player{
    display: flex;
    justify-content: space-evenly;
    height: 15em;
    width: 80em;
}
#player2{
    flex-direction: row-reverse;
}
.img-player{
    margin: 20px;
    height: 180px;
    width: auto;
}
.status-player {
  background-color: #FFFFFFAA;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 14em;
  max-width: 18em;
}

.hp,
.mp {
  margin: -0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hp-bar,
.mp-bar {
  height: 1em;
  width: 12em;
  margin: 0 2px;
  border-radius: 2em;
  background-color: grey;
  display: flex;
}
#hp-p1, #hp-p2{
  --hp: 100;
}
#hp-p1::before, #hp-p2::before {
  content: "";
  width: calc(var(--hp) * 1%);
  background-color: hsl( calc(var(--hp) * 1.2) , 80%, 50%);
  transition: all 1s ease;
  border-radius: 2em;
}
#mp-p1, #mp-p2{
  --mp: 100;
}
#mp-p1::before, #mp-p2::before {
  content: "";
  width: calc(var(--mp) * 1%);
  background-color: blue;
  transition: all 0.5s ease;
  border-radius: 2em;
}

.hp-numbers,
.mp-numbers {
  display: flex;
  justify-content: space-evenly;
  width: 12em;
  font-size: x-large;
  font-weight: bold;
}
