#listapersonagens{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

#btnbatalha{
    border-radius: 25%;
    background-color: rgba(22, 63, 22, 0.829);
}

#escolhap1, #escolhap2{
    height: 200px;
    width: auto;
}

.poke{
    background-color: black;
    border-radius: 50%;
    padding: 0;
}

.personagens{
    display: flex;
    flex-direction: column;
}

#players{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}


h1{
    text-align: center;
}

#campobatalha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    height: 120px;
    width: 80px;
}

body {
    background-color: rgba(250, 235, 31, 0.856);
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#caracter-selection{
    display:flex;
    height: fit-content;
    width: fit-content;
}
.pokebola{
    height: 8em;
    width: 12em;
    padding: 0 1em;
}
#player1, #player2, #battle-area{
    border: black 2px solid;
}
#battle-area{
    background-image: url(./assets/images/Pokmon-Lets-Go-Pikachu-Eevee-Pre-Release-Review-HYPEBEAST.png);
    background-size: contain;
    height: 30em;
    width: 80em;
}
.player{
    display: flex;
    justify-content: space-evenly;
    height: 15em;
    width: 80em;
}
#player2{
    flex-direction: row-reverse;
}
#img-player{
    max-height: 13em;
    max-width: 18em;
}
.status-player{
    display: flex;
    flex-direction: column;
    max-height: 12em;
    max-width: 16em;
}
.hp,.mp{
    margin: -0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hp-bar,.mp-bar{
    height: 1em;
    width: 12em;
    margin: 0 2px;
    background-color: green;
  }
  .mp-bar{
    background-color: blue;
  }
  .hp-numbers,.mp-numbers{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      width: 12em;
      font-size:x-large;
      font-weight: bold;
  }